


a img { border: none; }

h1, h2, h3 {
    text-transform: uppercase;
	}
h1 {    font-size: 2em; }
h2 {    font-size: 1.7em; }
h3 {    font-size: 1.5em; }
	

html, body {
	width:100%;
	font-size: 14px;
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
	line-height: 23px;
	background: url('imgs/bg-pattern-black.png') repeat;
    text-align: center;
	}
body {
	overflow-x: hidden;
	overflow-y: scroll;
	}

div.layout {
    margin: 0;
    padding: 0;
}

aside { background-color: rgba(255, 255, 255, 0.1); }
aside > * { margin: 0 15px; padding: 15px 0; }

.wrapper { width: 100%; }
.mobile { display: none; }

.sidebar {
	display: inline-block;
	width: 320px;
	float: left;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	text-transform: uppercase;
	/*color: rgb(31,52,4);	- dark green */
    color: rgba(0,0,0,0.55);
    text-align: left;
    -webkit-box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    2px 2px 5px rgba(50, 50, 50, 0.75);
    box-shadow:         2px 2px 5px rgba(50, 50, 50, 0.75);
	}

::selection {
	background: rgba(24, 106, 12,0.7); /* Safari */
	}

::-moz-selection {
	background: rgba(24, 106, 12,0.7); /* Firefox */
	}
	
/*---------------------------------------------------------------------

	Sidebar: Navigation

*/
ul.nav {
list-style: none outside none;
font-size: 15px;
padding: 0;
margin: 0;
}
ul.nav.sub {
background-color: rgba(0,0,0,0.3);
display: none;
}
ul.nav.sub.active {
display: block;
}

ul.nav li {
line-height: 40px;
list-style: none outside none;	
padding-left: 2em;
transition-property: background-color, padding-left;
transition-duration: 0.7s;
}
ul.nav.sub li{
padding-left: 2.8em;
}


ul.nav a, ul.nav a:link, ul.nav a:active, ul.nav a:visited, ul.nav a:hover, ul.nav a:focus { color: rgb(31,52,4); text-decoration: none; font-size: 1.5em;}


.main {
	display: inline-block;
	position: static;
    margin: 0 auto;
    text-align: left;
	}

.header { display: none;}
	
.header, .content, .footer { 
	margin: 30px;
	max-width: 100%;
	background: rgba(0,0,0,0.4);
	color: rgba(255,255,255,0.9);
	color/*\**/: rgb(250,250,250)\9;
	padding: 4em;
    width: 100%
-webkit-box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    2px 2px 5px rgba(50, 50, 50, 0.75);
box-shadow:         2px 2px 5px rgba(50, 50, 50, 0.75);
	}

.main a, .main  a:link, .main  a:active, .main  a:visited {
	/*color: rgba(20,20,20,0.9);
	background: rgba(250,250,250,0.6);*/
	
	/*color: rgba(255,255,255,0.8);
	
	background: #367e20;*/
	
	color: #367e20;
	text-decoration: none; 
}
.main  a:hover, .main  a:focus { 
	/*color: rgba(20,20,20,0.9);
	text-decoration: none; 
	background: rgba(250,250,250,0.5);*/
	
	text-decoration: underline; 
	color: #367e20;
	}
	
.content { 
    min-height: 400px;
}


.logo {
	width: 220px;
	display: block;
	margin: 30px auto 10px auto;
	
	}
	
.social{
	text-transform: none;
	font-size: 40px;
	text-align:center;
	line-height: 55px;
	vertical-align: top;
	}

.social a, .social  a:link, .social a:active, .social a:visited, .social a:hover, .social a:focus { 
    /*color: rgb(31, 52, 4); - dark green */ 
    color: rgba(0,0,0,0.55);
    text-decoration: none;
	transition-property: opacity;
	transition-duration: 0.3s;
    }
.social a:hover {opacity: 0.8;}

/*---------------------------------------------------------------------

	Boxes

*/

.box2, .box3 { 
    display: inline-block;
    margin-right: 5px !important;
    vertical-align: top;
    }

div + .box2, div +  { margin: 5px !important;}


.portfolio-tile:hover {
	opacity: 0.8;
	}

.portfolio-tile div {
    visibility: hidden;
    display: inline-block;
    height: 35px;
    width: 100%;
    top: 165px;
    line-height: 25px;
    position: relative;
    background: rgba(0,0,0,0.6);
	background-size: 100%;
}

.portfolio-tile:hover div {
    visibility: visible;
}

span.portfolio-label { 
	margin: auto 10px;
    line-height: 35px;
    height: 35px;
    display: block;
    vertical-align: middle;
	color: #fff !important;
}


/*@media screen and (max-width: 1500px) {*/
    /*.main {*/
        /*position:absolute;*/
        /*left: 320px;*/
    /*}*/
/*}*/

/*@media screen and (max-width: 1040px) {*/
	/*.box2 { width: 45%;}*/
	/*.box3 { width: 27%;}*/
	/*.portfolio-tile { width: 175px; height: 175px; }*/
	/*.portfolio-tile div { top: 140px; }*/
/*}*/

/*@media screen and (max-width: 800px) {*/
	/*.portfolio-tile { width: 150px; height: 150px; margin: 0 7px 7px 0;}*/
	/*.portfolio-tile div { top: 115px; }*/
/*}*/

/*@media screen and (max-width: 650px) {*/
	/*.portfolio-tile {*/
		/*width: 200px;*/
		/*height: 200px;*/
		/*left: 50%;*/
		/*position: relative;*/
		/*margin-left: -100px;*/
		/*display: block;*/
	/*}*/
	/*.portfolio-tile div {*/
	/*top: 165px;*/
	/*visibility: visible;*/
	/*}*/
/*}*/

/*@media screen and (max-width: 320px) {*/
	/*.box2 { width: 42%;}*/
	/*.box3 { width: 25%;}*/
/*}*/


/*---------------------------------------------------------------------

	Tables

*/

table {
	width: 100%;
	background-color: rgb(255,255,255);
	color: rgba(0,0,0,0.9);
	padding: 0;
	border-spacing: 0;
	/* padding: 1em; */
	margin: 0.5em 0px !important;
	overflow: auto;
	}
td {
	margin: 0;
	padding: 1em;
	}
thead { 
	font-weight: bold;
	text-transform: uppercase;
	}

tbody tr:nth-child(even){
	background-color: #efefef;
	}

/*---------------------------------------------------------------------

	Forms
	
*/
	
input, select, textarea { 
	padding: 0.4em; 
	margin: 0.4em;
	
	}	

input[type=button], input[type=submit] { 
	background: #326a21;
	text-transform: uppercase;
	border-radius: 15px;
	color: #fff;
	border: none;
	}
input[type=text], input[type=password], textarea {
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3) inset;
}
input[type=button]:hover, input[type=button]:focus, input[type=submit]:hover, input[type=submit]:focus { 
	background: #367e20;
	cursor: pointer;
	}

input[type=text]:hover, input[type=text]:focus, input[type=password]:hover, input[type=password]:focus, textarea:hover, textarea:focus {
	border: 1px solid #009600;
}

/*---------------------------------------------------------------------

	Swipe.js - Javascript Slider
	
*/

.swipe { 
    margin: 1em 0;     

    }
.swipe ul { padding: 0;}
.swipe li div { 
    padding: 1em;
    background: rgba(255,255,255,0.2); 
    border-radius: 8px;
}


/* Mobile CSS - Medium (Tablets, small Screens) */

/**/

/*@media screen and (max-width: 360px) {*/
	/*ul.nav.sub li { display: block; }*/
	/*.box2, .box3 { display: block; width: 100%;}*/
/*}	*/
	/**/
/*@media screen and (max-width: 320px) {*/
	/*ul.nav li { margin: 0; padding: 0 0.3em;}*/
	/*ul.nav li:hover, ul.nav.sub li:hover { padding: 0 0.3em; }*/
/*}*/
